<div class="container">
  <div class="place-img"><img src="assets/newArival.webp" alt="" /></div>
  <div class="box">
    <h2>Best Savings on new arrival</h2>
    <p>
      Explore the latest additions to our collection! Our newest arrivals are
      carefully selected to bring you the best of what is trending. From
      high-quality essentials to unique finds, there's something for everyone.
      Whether you're upgrading your gear, looking for a fresh look, or simply
      indulging in something new, our new arrivals are sure to inspire. Shop now
      and be the first to discover what's new!
    </p>
    <div class="buttons">
      <a routerLink="/products" class="buy-now">Buy Now</a>
      <a routerLink="/About">About Us</a>
    </div>
  </div>
</div>
