<div class="container">
  <div class="child item1">
    <div class="img1">
      <img src="assets/photo 1.webp" alt="" />
    </div>
    <div class="text">
      <h3>
        Hi there! We are the heart behind GiftLove, where every package is a
        thoughtful gesture wrapped with care.
      </h3>
      <br />
      <p>
        It all began with a simple idea: making it easy for people to share love
        and connection, no matter how far apart they are. Whether it's a
        birthday, celebration, or just a little reminder that someone cares,
        GiftLove is here to help you send joy in the form of beautiful, curated
        gift boxes. Our mission is simple — to help you turn moments into
        memories by delivering a little bit of happiness to your loved ones'
        doorstep. Each box is handpicked and packed with love, designed to bring
        smiles and warmth, even when you're miles away.
      </p>
    </div>
  </div>

  <div class="child item2">
    <div class="text">
      <h3>
        We love helping our customers send all the warmth and comfort of a hug
        from afar.
      </h3>
      <br />
      <p class="mb-0">
        When you order a ‘hug in a box’ gift hamper, you can add extra personal
        touches such as your own message. Every BearHugs gift box is hand-packed
        with love and then popped in the post so it can be sent directly to a
        doorstep of your loved one.  We’re really proud of our signature 'hug'
        gift boxes which reveal outstretched paws and a ‘Consider this a
        BearHug’ message on opening. They never fail to make us smile and we
        love hearing that they’ve made recipients smile too.
      </p>
    </div>
    <div class="img2"></div>
  </div>
</div>
