<section>
  <div class="barby">
    <div class="img">
      <img src="assets/barby.webp" alt="" />
    </div>
    <div class="box">
      <div class="h1">Build Your Own Hug In A Box</div>
      <p>
        If you're looking to create a truly personalized gift box that will
        leave your loved one in no doubt that they’re thought of and cared for,
        you’re in the right place! We've made it super easy for you to choose
        your own selection of treats to be carefully packaged together in one of
        our signature "hug" gift boxes.
      </p>
    </div>
  </div>
</section>
