/* Start Landding */
.photo-content {
  background-image: url("../../../assets/filtered photo (1).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 41vh;
}

.photo-content p {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.photo-content p {
  width: 55%;
}

.photo-content a {
  background-color: #f9ece6;
  border-color: #d9d9d9;
  color: #4ab0ad;
  padding: 10px 20px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.photo-content a:hover {
  background-color: #4ab0ad;
  color: #f9ece6;
  top: 106px;
  left: 201px;
}

@media (max-width: 680px) {
  .photo-content p {
    font-size: 20px;
  }
  .photo-content button {
    padding: 5px 10px;
  }
}

.card {
  height: 280px;
}

/* ----------------------------End Landing---------------------------- */

/* Start Testimonials */
.stars {
  color: #f1adbf;
}

.personal-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.personal-photo img {
  width: 100%;
  height: 100%;
}
/* ---------------------------End Testimonials------------------------ */
